*{
    background-color: lightskyblue;
}
#Nombre{
    border: solid 5px black;
    padding: 8px;
}
legend{
    border: solid 2px;
    border-radius: 10px;
    background-color: crimson;
}
h1{
    color: crimson;
}
h2{
    color: blueviolet; font-size: 26px;
}
