*{
    background-color: tomato;
}
#Nombre{
    border: solid 5px black;
    padding: 8px;
}
legend{
    border: solid 2px;
    border-radius: 10px;
    background-color: aqua;
}
h1{
    color: black;
}
h2{
    color: white; font-size: 26px;
}

iframe{
    width: 80%;
    height: 100vh;
}
